apiVersion: apps/v1
kind: Deployment
metadata:
  name: llm-d-scale-epp
  namespace: llm-d-scale
spec:
  replicas: 1
  selector:
    matchLabels:
      inferencepool: llm-d-scale-epp
  template:
    metadata:
      labels:
        inferencepool: llm-d-scale-epp
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/infra
                operator: DoesNotExist
              - key: node-role.kubernetes.io/gpu
                operator: Exists
      tolerations:
      - key: nvidia.com/gpu
        operator: Exists
        effect: NoSchedule
      serviceAccountName: llm-d-scale-epp
      # Conservatively, this timeout should mirror the longest grace period of the pods within the pool
      terminationGracePeriodSeconds: 130
      containers:
      - name: epp
        image: {{ .image }}
        imagePullPolicy: IfNotPresent
        args:
        - --pool-name
        - llm-d-scale
        - --pool-namespace
        - llm-d-scale
        - --v
        - "4"
        - --grpc-port
        - "9002"
        - --grpc-health-port
        - "9003"
        - --metrics-port
        - "9090"
        - --config-file
        - "{{ .configFile }}"
        ports:
        - name: grpc
          containerPort: 9002
        - name: grpc-health
          containerPort: 9003
        - name: metrics
          containerPort: 9090
        - containerPort: 5557
          name: zmq
          protocol: TCP
        livenessProbe:
          grpc:
            port: 9003
            service: inference-extension
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          grpc:
            port: 9003
            service: inference-extension
          initialDelaySeconds: 5
          periodSeconds: 10
        env:
        - name: HF_TOKEN
          valueFrom:
            secretKeyRef:
              key: HF_TOKEN
              name: llm-d-hf-token
        volumeMounts:
        - name: plugins-config-volume
          mountPath: "/config"
      volumes:
      - name: plugins-config-volume
        configMap:
          name: llm-d-scale-epp