---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: llm-d-scale-vllm
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: llm-d-scale-vllm-scc-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:openshift:scc:privileged
subjects:
- kind: ServiceAccount
  name: llm-d-scale-vllm
